################################################################################
# .gitignore file for WordPress installations.                                 #
#                                                                              #
# Version: 2022-08-18                                                          #
#                                                                              #
################################################################################


################################################################################
# Ignore everything in the root directory by default.                          #
################################################################################
/*


################################################################################
# Except .gitignore, README.md, favicon.ico, and static assets in the root     #
################################################################################
!/.gitignore
!/README.md
!/favicon.ico
!/static


################################################################################
# Track wp-content, except for some common files and subdirectories.           #
################################################################################
!wp-content/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/
wp-content/wflogs/
wp-content/wphb-cache/
wp-content/advanced-cache.php
wp-content/db.php
wp-content/index.php
wp-content/object-cache.php
wp-content/wp-cache-config.php


################################################################################
# Ignore Plugins                                                               #
################################################################################
wp-content/mu-plugins/
wp-content/plugins/


################################################################################
# Ignore default themes                                                        #
################################################################################
wp-content/themes/twentyten
wp-content/themes/twentyeleven
wp-content/themes/twentytwelve
wp-content/themes/twentythirteen
wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentyseventeen
wp-content/themes/twentyeighteen
wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/index.php


################################################################################
# Ignore caches                                                                #
################################################################################
wp-content/themes/*/acf-json


################################################################################
# Ignore Logs and Databases                                                    #
################################################################################
*.log
*.sql
*.sqlite


################################################################################
# Ignore Packages, Archive Files, etc.                                         #
################################################################################
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
*.bak
.svn
.cvs


################################################################################
# Optional? Ignore files disallowed by WPEngine's git repository support.      #
################################################################################
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi


################################################################################
# Ignore OS generated files                                                    #
################################################################################
.DS_Store*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon?
._*
*~


################################################################################
# Ignore files generated by Vim and other code editors                         #
################################################################################
*.un~
*.swp
.idea


################################################################################
# Ignore SASS cruft                                                            #
################################################################################
.sass-cache


################################################################################
# Ignore Node                                                                  #
################################################################################
node_modules
bower_components


################################################################################
# Ignore miscellaneous devtools cruft                                          #
################################################################################
config.codekit
.vagrant
local-config.php
